<launch>

    <arg name="type" default="fake"/>
 
		<!--- Run AMCL -->
    <include file="$(find stage_nav)/launch/localize.launch">
      <arg name="type" value="$(arg type)"/>
    </include>

    <include file="$(find stage_nav)/launch/controller.launch"/>
   
    <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find stage_nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find stage_nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find stage_nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find stage_nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find stage_nav)/params/base_local_planner_params.yaml" command="load" />
    </node-->

</launch>
